In [15]:
import requests
import json
import pandas as pd

In [3]:
import requests
import json

url = 'https://app.nanonets.com/api/v2/OCR/Model/4da819e1-4fa1-43a9-81a9-163125265bca/LabelFile/?async=false'

data = {'file': open('./images/facture1.png', 'rb')}

response = requests.post(url, auth=requests.auth.HTTPBasicAuth('51d0a0da-ba9d-11ed-a27e-22a1d9fde453', ''), files=data)

In [8]:
data = response.text
parse_json = json.loads(data)
list_predictions = parse_json['result'][0]['prediction']
#print(list_predictions)

In [9]:
buyer_name = []
invoice_number = []
invoice_date = []
subtotal= []
total_tax  = []
invoice_amount= []

In [10]:
for i in list_predictions:
    if (i['label']=='buyer_name'):
        buyer_name.append(i['ocr_text'])
    elif (i['label']=='invoice_number'):
        invoice_number.append(i['ocr_text'])
    elif(i['label']=='invoice_date'):
        invoice_date.append(i['ocr_text'])
    elif(i['label']=='subtotal'):
        subtotal.append(i['ocr_text'])
    elif(i['label']=='total_tax'):
        total_tax.append(i['ocr_text'])
    elif(i['label']=='invoice_amount'):
        invoice_amount.append(i['ocr_text'])

In [19]:
dataframe = pd.DataFrame(list(zip(buyer_name,invoice_number,invoice_date,subtotal,total_tax,invoice_amount)),columns=["Buyer Name","Invoice Number","Invoice Date","Subtotal","Total Tax","Invoice Amount"])

In [20]:
dataframe

,Buyer Name,Invoice Number,Invoice Date,Subtotal,Total Tax,Invoice Amount
0,Michel Acheteur,143,2.6.2021,"1 350,00","270,00 €","1 620,00 €"